<div class="row container m-auto justify-content-center text-center">
    <div class="col-12">
        <label class="text-muted">Favor leer letra chica: la pagina agrega y elimina los productos al carrito pero no se ve reflejado en la modal hasta despues de recargar la pagina (esto tambien se aprecia en el cambio de estado bajo de cada producto)</label> <a href=""><i class="fa-solid fa-rotate-right"></i></a>
        <h1 class="my-3">Bienvenido al mercado WEB, seleccione sus productos</h1>
        {{> Producto}}
    </div>
</div>