<div class="row container m-auto">
    {{#each productos}}
    <div class="col-4 producto" data-nombre="{{nombre}}">
        <h3>{{nombre}}</h3>
        <img src="/{{imagen}}" alt="{{nombre}}">
    </div>
    {{/each}}
</div>